.wholeCard {
  margin: 1em;
}

.wholeCard * {
  margin: 0;
}

.topicHead {
  background-color: hsl(0, 0%, 50%);
  max-width: fit-content;
  padding: 1px 3px;
  /* border-top-left-radius: 25%;
  border-top-right-radius: 25%; */
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.mainCard {
  background-color: hsl(0, 0%, 80%);
}
