.button {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;

  font-size: 1em;
  font-weight: bold;
}

.voteCount {
  display: inline;
  padding: 5px;
}

.errorMsg {
  color: red;
  font-weight: bold;
}
