body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;

  background-color: hsl(198.4, 65%, 85%);
}

#mainContent {
  min-width: 320px;
  max-width: fit-content;
  margin: auto;
}

.LoadingContainer {
  display: flex;
  justify-content: center;
}

header {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin-bottom: 0;
}

header .logInMessage {
  margin: 0;
}

@media screen and (max-width: 801px) {
  header {
    display: block;
    margin: 0;
  }
  header h1,
  header .logInMessage {
    text-align: center;
  }

  header .logInMessage {
    margin: 10px;
  }
}

h1 {
  font-family: "Lucida Bright", "Palatino", Georgia, serif;
}

h2,
p,
label {
  color: hsl(198.4, 100%, 10%);
}

a,
a:visited {
  color: hsl(18.4, 85%, 45%);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: hsl(18.4, 85%, 30%);
}

input,
textarea {
  background-color: hsl(198.4, 65%, 95%);
}

button {
  height: 2em;
  border-radius: 1em;
  border: none;
  background-color: hsl(198.4, 65%, 35%);
  color: hsl(198.4, 65%, 100%);
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 3px;
}

button:active {
  color: hsl(18.4, 85%, 45%);
}
button:disabled {
  cursor: default;
  background-color: hsl(198.4, 65%, 50%);
  color: hsl(198.4, 65%, 70%);
  box-shadow: 0 0 0;
}

p {
  word-spacing: 0.05em;
  line-height: 1.25em;
}

ul {
  list-style: none;
  margin-top: 0.2em;
  padding: 0;
  padding-bottom: 0.1em;
}
